.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

body {
  color: #212121;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}

body.lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.header-section {
  background: #fff;
  border-bottom: 1px solid transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.header {
  background: var(--primary-br-color);
  padding: 4px 8px;
  box-shadow: 0 5px 10px lightgray;
}

.nav {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  margin: 0;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.nav__link {
  display: block;
  padding: 15px;
  color: #191970;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
}
.nav__link:hover, .nav__link:focus {
  color: blue;
  background-color: white;
}

.nav__link--current {
  position: relative;
  color: blue;
}

.nav__link--activ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: blue;
  border-radius: 1px;
}

.nav__item {
  position: relative;
}

.nav__item:hover .nav__list-wind {
  display: block;
}

.nav__list-wind {
  position: absolute;
  left: 0;
  top: 40px;
  padding: 20px 0px 0px 0px;
  min-width: 300px;
  background-color: white;
  display: none;
}

.nav__item-wind {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__link-wind {
  color: #191970;
  display: inline-block;
  padding: 5px 10px;
}
.nav__link-wind:hover, .nav__link-wind:focus {
  color: blue;
  background-color: lightgray;
}

.list-leng {
  position: absolute;
  display: flex;
  margin-top: -8%;
  left: 88%;
}

.item-leng {
  position: relative;
}

.item-leng:hover .list-wind-leng {
  display: block;
}

.list-wind-leng {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 20px 0px 0px 0px;
  max-width: 300px;
  background-color: white;
}

.link-leng {
  color: #191970;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  display: inline-block;
  padding: 5px 10px;
}

.hero {
  padding-top: 55px;
  padding-bottom: 100px;
  max-width: 1600px;
  margin: auto;
  background-color: var(--main-bg-color);
  background-repeat: repeat-x;
  background-position: center;
  background-image: linear-gradient(173deg, rgba(255, 255, 255, 0.897) 50%, rgb(223, 251, 250) 200%), url(../images/logo2.png);
  background-size: 60% 90%;
}
.hero .hero-container {
  padding: 20px;
  margin-bottom: 20px;
}

.hero__title {
  margin-top: 0;
  color: #191970;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.44;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
}

.hero__img {
  max-width: 100%;
  height: auto;
  align-items: center;
  margin-left: 40px;
  margin-top: 30px;
}

.hero__container-img {
  display: none;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .hero__container-img {
    display: flex;
    position: absolute;
    justify-content: start;
    align-items: center;
    margin-top: 68%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container-img {
    display: flex;
    position: absolute;
    margin-left: -90px;
    margin-top: 120px;
  }
}

.hero__img-2 {
  display: flex;
  max-width: 100%;
  height: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  justify-content: end;
  align-items: center;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .hero__img-2 {
    justify-content: normal;
    flex-direction: row-reverse;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__img-2 {
    max-width: 100%;
    height: auto;
    justify-content: end;
    align-items: center;
  }
}

.hero-container-text {
  margin-left: 20px;
  padding: 25px;
}

.hero__text {
  color: #191970;
  padding: 25px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.14;
}

.hero__text-last {
  margin-bottom: 0;
}

.hero__list {
  color: #000000;
  padding-left: 15%;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.18;
  list-style-type: disc;
}

.hero__span {
  display: flex;
  color: #191970;
  padding-left: 15%;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.14;
}

.hero__link {
  text-decoration: underline;
}

.product {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product__text {
  padding: 20px;
  color: #191970;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55;
  text-transform: uppercase;
  text-align: center;
}

.product__item {
  width: 210px;
  border: 1px solid #fff0f5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  padding-bottom: 40px;
  background-color: gray;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer-about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  margin-top: -12%;
}

.footer__list-about {
  display: flex;
  flex-wrap: wrap;
}

.footer__link-about {
  display: block;
  padding: 15px;
  color: #191970;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
}
.footer__link-about:hover, .footer__link-about:focus {
  background-color: #fff0f5;
  border: 1px solid #fff0f5;
}

.footer__link-wind {
  color: #191970;
  display: inline-block;
  padding: 5px 10px;
}
.footer__link-wind:hover, .footer__link-wind:focus {
  color: blue;
  background-color: lightgray;
}

.footer__item {
  position: relative;
}

.footer__item:hover .footer__list-wind {
  display: block;
}

.footer__list-wind {
  display: none;
  position: absolute;
  left: 124px;
  top: 0;
  padding: 10px;
  min-width: 250px;
  background-color: grey;
}
.footer__list-wind:hover, .footer__list-wind:focus {
  color: blue;
  background-color: gray;
}
@media screen and (min-width: 767px) {
  .footer__list-wind {
    position: absolute;
    display: block;
    left: 0px;
    top: 40px;
    padding: 15px 0px 0px 0px;
    max-width: 300px;
    background-color: gray;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list-wind {
    position: absolute;
    display: block;
    left: 0;
    top: 35px;
    padding: 20px 0px 0px 0px;
    max-width: 300px;
    background-color: gray;
  }
}

.footer__item-wind {
  margin-bottom: 5px;
}

.footer__item-wind:last-child {
  margin-bottom: 0;
}

.footer__link-wind {
  color: #191970;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
}

.footer-contact {
  display: block;
  padding: 20px;
  text-align: end;
}

.footer__title {
  color: #191970;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-address {
  margin-bottom: 8px;
  color: #191970;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer__link {
  color: #191970;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.products {
  padding-top: 15px;
}

.products-container {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 55px;
  padding-bottom: 50px;
  max-width: 1600px;
  margin: auto;
  background-color: var(--main-bg-color);
  background-repeat: repeat-x;
  background-position: center;
  background-image: linear-gradient(173deg, rgba(255, 255, 255, 0.897) 50%, rgb(223, 251, 250) 200%), url(../images/logo2.png);
  background-size: 60% 90%;
}

.hero-container {
  padding: 20px 0;
  margin-bottom: 20px;
}

.title-tab {
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 2;
}

.lid__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.lid__item {
  min-width: 250px;
  margin-right: 30px;
  border: 3px solid #EEEEEE;
  text-align: center;
}

.lid__item:hover {
  background: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.lid__item:nth-child(3n) {
  margin-right: 0;
}

.lid__item:nth-last-child(-n+3) {
  margin-bottom: 1px;
}

.img-lid {
  margin: auto;
}

.lid__box {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
  text-align: center;
}

.lid__title {
  color: black;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.lid__text {
  color: black;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #EEEEEE;
  color: black;
  max-width: 800px;
  padding: 0;
  position: relative;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.popup__content_image {
  padding: 0;
}

.pupup__image {
  max-width: 100%;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: black;
}

.contact {
  position: relative;
  z-index: 1;
  padding: 60px 0;
  display: block;
  max-width: 1600px;
  margin: auto;
  background-color: var(--main-bg-color);
  background-repeat: repeat-x;
  background-position: center;
  background-image: linear-gradient(173deg, rgba(255, 255, 255, 0.897) 50%, rgb(223, 251, 250) 200%), url(../images/logo2.png);
  background-size: 60% 90%;
}

.contact__container {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.contact__map {
  display: block;
  width: 100%;
  height: 400px;
}

.contact__box {
  position: relative;
  padding: 8px 20px;
}

.contact__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: black;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.44;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.contact__list {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .contact__list {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contact__list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list.item + .item {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .contact__list.item + .item {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-bottom: 0;
  }
}

.contact__link {
  color: #191970;
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    display: inline-flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    padding: 0;
  }
}
.contact__link:hover, .contact__link:focus {
  text-decoration: none;
  color: #191970;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    color: #191970;
  }
}

.contact__icon {
  fill: currentColor;
  padding-right: 5px;
}

.contact__map {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}/*# sourceMappingURL=main.css.map */