.footer{
    
    padding-bottom: 40px;
    background-color: gray;
}
.footer__container{
    display: flex;
    //align-items:stretch;
    justify-content: space-between;

}
.footer-about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    margin-top: -12%;
}
.footer__list-about{
    display: flex;
    flex-wrap: wrap;


}

.footer__link-about{

          display: block;
        padding: 15px;
          color: $primaryTextColor;
          text-transform: uppercase;
      
          font-weight: 700;
          font-size: 16px;
          line-height: 1.12;
      
&:hover,
&:focus {
       
        background-color: $btnBgolor;
        border: 1px solid $btnBgolor;
}
}

.footer__link-wind{
    color: #191970;
    display: inline-block;
    padding: 5px 10px;

&:hover,
&:focus{
    color: blue;
    background-color:lightgray;
}}
.footer__item{
        position: relative;
         
}

.footer__item:hover .footer__list-wind{
    display: block;
}
.footer__list-wind{
    display: none;
    position: absolute;
       left:124px;
       top: 0;
       padding: 10px;
       min-width: 250px;
        background-color:grey;

        &:hover,
        &:focus{
            color: blue;
    background-color:gray;
        }

            
@media screen and (min-width:767px)  {

  position:absolute;
  display: block;
    left: 0px;
    top: 40px;
    padding: 15px 0px 0px 0px;
    max-width: 300px;
    background-color: gray;
}

@media screen and (min-width:1200px) {
   position: absolute;
display: block;
    left: 0;
    top: 35px;
    padding: 20px 0px 0px 0px;
    max-width: 300px;
    background-color: gray;
}



}

.footer__item-wind{
    margin-bottom: 5px;
}
.footer__item-wind:last-child{
    margin-bottom: 0;
}

.footer__link-wind{
    color: $primaryTextColor;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
}

.footer-contact{
    display: block;
    padding: 20px;
    text-align: end;
}
.footer__title{
    color: $primaryTextColor;
    margin-bottom: 20px;

    font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
       
}
.footer-address{
    margin-bottom: 8px;

        color: $primaryTextColor;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;

}
.footer__link{
    color: $primaryTextColor;

        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
}
.footer__item:not(:last-child){
    margin-bottom: 8px;
}