.header{
    display: flex;
    align-items: center;
    background: var(--primary-br-color);
}
.nav{
    display: flex;
}
.nav__list{

    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

}
.nav__list-leng{
    
}