.header{
 background: var(--primary-br-color); 
padding: 4px 8px;
box-shadow: 0 5px 10px lightgray;


}
.nav{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    margin: 0;
}

.nav__list{
 display: flex;
align-items: center;
justify-content: center;
margin-right: auto;

}
.nav__link{
    display: block;
  padding: 15px;
    color: $primaryTextColor;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;

&:hover,
&:focus{
    color: blue;
    background-color:white;

 }
}

.nav__link--current {
    position: relative;
    color:blue;
}
.nav__link--activ::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
    
        
        display: inline-block;
    
        width: 100%;
        height: 4px;
        background-color: blue;
        border-radius: 1px;
    }
.nav__item{
    position: relative;
}

.nav__item:hover .nav__list-wind{
    display: block;
}
    .nav__list-wind{
       position: absolute;
       left:0;
       top: 20px;
       padding: 20px 0px 0px 0px;
       min-width: 300px;
        background-color:white;
        display: none;
    }
    .nav__item-wind{
        position: relative;
        width: 100%;
        border: 1px solid rgb(0,0,0,.1);
    }
.nav__link-wind{
    color: #191970;
    display: inline-block;
    padding: 5px 10px;

}

.list-leng{
  position: absolute;
    display: flex;
    margin-top: -8%;
    left: 88%;
   

}
.item-leng{
    position: relative;
}
.item-leng:hover .list-wind-leng{
    display: block;
}
.list-wind-leng{
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0px 0px 0px;
    max-width: 300px;
    background-color: white;
}

   
.link-leng{

    color: #191970;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;

    display: inline-block;
    padding: 5px 10px;

}