.hero{
    padding-top: 55px;
    padding-bottom: 100px;
    // height: 600px;
    max-width: 1600px;
    margin: auto;
    background-color: var(--main-bg-color);
    background-repeat: repeat-x;
    background-position: center;
    background-image: linear-gradient(173deg, rgba(255, 255, 255, 0.897) 50%, rgba(223, 251, 250, 1) 200%), url(../images/logo2.png);
    background-size: 60% 90%;
    //text-align: center;
.hero-container{
    padding: 20px 0;
    margin-bottom: 20px;
}
    
}
.hero__title{
   
        margin-top: 0;
        color: $primaryTextColor;
    
        font-weight: 900;
        font-size: 25px;
        line-height: calc(36/25);
        letter-spacing: 0.06em;
        text-align:  center;
  
        text-transform: uppercase;
}
// .hero-container-text{

     
// }
.hero__container-img{
    display: flex;
    position: absolute;
    margin-left: -125px;
}

.hero__img-2{
    display: flex;
  max-width: 100%;
  height: auto;
  object-position: center;
  
  object-fit: cover;
  padding: 0;
  justify-content: end;
  align-items: center;
    margin-top: 0px;
    @media screen and (min-width: 768px) {
        justify-content: normal;
        flex-direction: row-reverse;
    
        margin: 0;
      }
      @media screen and (min-width: 1280px) {
        max-width: 100%;
        height: auto;
        justify-content: end;
        align-items: center;
       

      }
}
  

.hero__text{
    color: $primaryTextColor;
    padding-left: 15px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.14;
     
}
.hero__text-last{
    margin-bottom: 0;
}
.hero__list{
    color: $accTextColor;
    padding-left: 15%;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;

    list-style-type: disc;
}

.hero__span{
    display: flex;
    color: $primaryTextColor;
    padding-left: 15%;
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 20px;
    line-height: 1.14;
    }
.hero__link{
    text-decoration: underline;

}
