$primaryTextColor: #191970;
$btnBgolor:  #fff0f5;
$accTextColor: #000000;
 $btnBgAccentColor: #ffffff ;
$AccentBackColor:#188ce8;
$imputBGColor: #F0F0F0;
$acctent-color: #2196f3;

$primaryBgcolor: #ffffff;
$modalOverlay: rgba(0, 0, 0, 0.2);

$timingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$tablet-max: 1279px;

$desktop: 1280px;

$indent-one: 28px;
